#rcorners1 {
    border-radius: 5%;
    background: LightBlue;
    padding: 20px;
    width: 200px;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
}
#left {
  float: left;
  width: 22%;
  overflow: hidden;
}

#right {
  overflow: hidden;
}



h1,h2,h3{
  color: white;
  font-family: Optima;
  text-align: center;
}

p {
  color: white;
  font-family: Optima;
  text-align: left;
}



#logo {
    display: block;
    margin: auto;
}

.og {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, #87AFC7 0%, #ff99cc 100%)
}
.p2 {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, #1995AD 0%, #CCCCFF 100%)
}

.arrow {
  position: relative;
  bottom: 0px;
  right: 10%;
}
#question {
  text-align: center;
}
h1 {
  color: white;
  font-family: Optima;
}
.purple {
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  background-size: 100% 100%;   
  background-image: url("purple.jpg");
}

#row1 {
  width: 70%;
  padding: 5%;
  margin: 0%;
  height: 10%;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

#anger {
  float: left;
}

#fear {
    float: center;
}

#happy {
  float: right;

}

#row2 {
  width: 70%;
  padding: 5%;
  height: 10%;
}

#lost {
  float: left;
}

#sad {
  float: center;
}

#stressed {
  float: right;
}




.dropbtn {
    background-color: #d8bfd8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #666666}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #4e1e4a;
}

.quote {
  font-size: 250%;
  color: black;
  background-color: gray;
  width:60%;
  height:50%;
  position:absolute;
  left:50%;
  top:50%;
  margin:-10% 0 0 -30%;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.quote a{
  display:block;
  position: absolute;
  top:45%;
  left:10%;
}

.quote2 {
  font-size: 250%;
  color: black;
  background-color: gray;
  width:60%;
  height:50%;
  position:absolute;
  left:50%;
  top:50%;
  margin:-10% 0 0 -30%;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.quote2 a{
  display:block;
  position: absolute;
  top:45%;
  left:10%;
}


.angerpage {
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  background-size: 100% 100%;   
  background-image: url("testbackground2.jpg");
}

.purple2{
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  background-size: 100% 100%;
  background-image: url("purple2.jpg");
}
    
.fearpage {
  height: 100%;
  width: 100%;
  background-image: url("ocean.jpg");
  background-repeat: repeat;
  background-size: 100% 100%;
}    

.purple3{
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  background-size: 100% 100%;
  background-image: url("purple3.jpg");
}

.happypage {
  height: 100%;
  width: 100%;
  background-image: url("cherryblossom.jpg");
  background-repeat: repeat;
  background-size: 100% 100%;
}

.aboutus {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #2E8B57 0%, #0f52ba 100%)
}

#titleAbout {
  font-size: 200%;
}
#Sammantha {
  float: left;
  margin-left: -40%;
  margin-top: 1%;

}
#Abby {
  float: right;
  margin-right: 4%;
  margin-top: -13%;
}
#bigdiv {
display: block;
margin-left: auto;
margin-right: auto;
}

#SammanthaText {
  width: 30%;
  margin-left: 11%;
  border: solid thistle;
  margin-top: -13%;
}

#AbbyText {
  width: 30%;
  float: right;
  margin-right: 10%;
  border: solid thistle;
  margin-top: -13.5%;
}
#bigtextdiv {
  margin-left: 7%;
  margin-right: 7%;

}
.circleimg {
  border-radius: 50%;
}
